@using CustomHTMLHelpers.CustomHelpers
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Building Custom HTML Helpers</h1>
    <p class="lead">Extending MVC and making the components more reusable for normal things.</p>
    <p><a href="http://myview.rahulnivi.net" class="btn btn-primary btn-lg">My View &raquo;</a></p>
</div>

<!-- ** BEGIN SEARCH AREA ** -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Search for Movies</h1>
    </div>
    <div class="panel-body">
        <div class="form-group">

        </div>
    </div>
    <div class="panel-footer">
        @Html.BootstrapButton("<i class='glyphicon glyphicon-search'></i>&nbsp;Search",
            "btn-sm btn-primary",
            "searchButton",
            "Click here to search!",
            false,
            true,
            HTMLCommonExtensions.HTMLButtonTypes.button,
            "search")

        @Html.BootstrapButton("<i class='glyphicon glyphicon-share-alt'></i>&nbsp;Reset",
            "btn btn-sm btn-danger",
            "resetButton",
            "Click here to reset!",
            false,
            true,
            HTMLCommonExtensions.HTMLButtonTypes.reset,
            "reset")

        @Html.BootstrapButton("<i class='glyphicon glyphicon-plus'></i>&nbsp;Add",
            "btn btn-sm btn-info",
            "addButton",
            "Click here to add!",
            false,
            true,
            HTMLCommonExtensions.HTMLButtonTypes.submit,
            "add")

       @* <button id="btnAdd"
                class="btn btn-sm btn-success"
                data-pdsa-action="add">
            <i class="glyphicon glyphicon-plus"></i>
            &nbsp;Add
        </button>*@
    </div>
</div>
<!-- ** END SEARCH AREA ** -->
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>